#popover-content-menu {
  z-index:9999;
  display: none;
}

.icon {
  cursor: pointer;
  width: auto;
  height: auto;
  font-size: 2.5rem;
  z-index: 9999;
}

.label {
  width: 100%;
  color: #4E5D6C;
}

ul {
  flex: 100%;
  width: 100%;
  max-width: 100%;
  float: none;
}

li {
  display: inline-block;
  padding: 0 1rem;
}

.active {
  font-weight: bold;
  color: #9a4912;
}
