extends layout

block content
    h1= title
    form#fileUpload(method="post" action="upload" enctype="multipart/form-data")
        label(for='payload') Select a file to upload
        input#payload(type="file" name="foo" accept="xls")
        br
        input(type="submit")

    form#fileToDB(method="post" action="/mvc/upload/storeJson")
        p Choose a json file and enter a year before submitting:
        each file in listJson
            input(type="radio", name="fileName", value=file)
            | #{file}
            br
        p Year:
            input(type="number" pattern="[0-9]{4}" name="year" min="1950")
        input(type="submit")

    if error
        p #{error}





