/* contains the navbar with the checkboxes */

#checkboxes-container {
  max-height: 25vh;
  overflow-y: auto;
  white-space: normal;
}

.wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

/* container for the checkboxes */
.container {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-bottom: .5rem;
  cursor: pointer;
  font-size: .875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color:#443f3f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark1:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark1:after {
  left: .3125rem;
  top: .125rem;
  width: .3125rem;
  height: .625rem;
  border: solid white;
  border-width: 0 .1875rem .1875rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

