<nav class="navbar navbar-dark" style="background: transparent;">

  <button *ngIf="showMap()" class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#externalContent" aria-controls="externalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav">
    <li class="nav-item">
      <div *ngIf="showMap()">
        <div class="icon">
          <fa-icon
            routerLink="statistics"
            (click)="closeSidebar()"
            [icon]="faChartLine"></fa-icon>
        </div>
      </div>
      <div *ngIf="!showMap()">
        <div class="icon">
          <fa-icon
            routerLink=""
            (click)="openSidebar()"
            [icon]="faGlobe"></fa-icon>
        </div>
      </div>
    </li>
  </ul>
</nav>

<div class="collapse bg-light" id="externalContent">
  <app-sidebar></app-sidebar>
</div>

<router-outlet></router-outlet>
