<nav class="navbar navbar-dark" style="background: transparent;">

  <button *ngIf="view === 'map'" class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#externalContent" aria-controls="externalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <app-menu-popover></app-menu-popover>

</nav>

<div class="collapse bg-light" id="externalContent">
  <app-sidebar></app-sidebar>
</div>

<footer *ngIf="view === 'statistics'">
  <a href={{linkToBlog}} target="_blank" style="color: #DF691A;">created by eonum & University of Berne</a>
  |
  <a href={{linkToData}} target="_blank" style="color: #DF691A;">data by BAG / FOPH</a>
</footer>
<router-outlet></router-outlet>
