/* You can add global styles to this file, and also import other style files */
#circleSVG {
  overflow: visible;
}


body { font: 12px Arial;}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 60px;
  padding: 2px;
  font: 15px sans-serif;
  background: rgb(124, 174, 240);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
