/* You can add global styles to this file, and also import other style files */
#circleSVG {
  overflow: visible;
}


body { font: 12px Arial;}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  max-width: 20rem;
  overflow-wrap: break-word;
  padding: 1rem;
  line-height: 1.5;
  font: 15px sans-serif;
  background: #4E5D6C;
  border: 0.125rem;
  border-radius: .5rem;
  pointer-events: none;
  color: rgb(255, 255, 255)
}
