<div class="nav-bar"><nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <!--<ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
    </ul> -->
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->

    <fieldset>
      <legend>Menu</legend>

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
          <label class="custom-control-label" for="customCheck1">Universitätsspitäler</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2" checked="">
          <label class="custom-control-label" for="customCheck2">Zentrumsspitäler</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck3" checked="">
          <label class="custom-control-label" for="customCheck3">Grundversorgung</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck4" checked="">
          <label class="custom-control-label" for="customCheck4">Psychiatrische Kliniken</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck5" checked="">
          <label class="custom-control-label" for="customCheck5">Rehabilitationskliniken</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck6" checked="">
          <label class="custom-control-label" for="customCheck6">Spezialkliniken</label>
        </div>
        </div>

<!--         <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2" disabled="">
          <label class="custom-control-label" for="customCheck2">Disabled custom checkbox</label>
        </div> -->
     <!--  </div>
      <div class="form-group">
        <select class="custom-select">
          <option selected="">Open this select menu</option>
          <option value="1">Universitätsspitäler</option>
          <option value="2">Zentrumsspitäler</option>
          <option value="3">Grundversorgung</option>
          <option value="4">Psychiatrische Kliniken</option>
          <option value="5">Rehabilitationskliniken</option>
          <option value="6">Spezialkliniken</option>
        </select>
      </div> -->
      <!--
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile02">
            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
          </div>
          <div class="input-group-append">
            <span class="input-group-text" id="">Upload</span>
          </div>
        </div>
      </div> -->
    </fieldset>
  </div>
</nav>
</div>
