<div id="char-container">

  <h5 id="hospitalName"></h5>

  <table class="table table-responsive-md">
    <tbody>
    <tr>
      <td>Adresse:</td>
      <!-- hospitalAddress of clicked hospital from mapInitializer -->
      <td id="hospitalAddress"></td>
    </tr>
    <tr>
      <!-- name and value of current numerical attribute from  mapInitializer -->
      <td id="numericalAttributeName"></td>
      <td id="numericalAttributeValue"></td>
    </tr>
    <tr>
      <!-- name and value of current categorical attribute from  mapInitializer -->
      <td id="categoricalAttributeName"></td>
      <td id="categoricalAttributeValue"></td>
    </tr>
    </tbody>
  </table>

</div>
