#char-container{
    height:270px;
    width:300px;
    position:relative;
    z-index:4000;
    float:right;
    margin-right:0px;
    margin-top:0px;
    border: 0.5px solid #f1f1f1;
  }
  
#characteristics{
  /* relative to height of char-container */
    max-height:300px;
}
  
/* .dropdown {
    position: relative;
    display: inline-block;
    z-index:5000;
} */
  
.container {
    display: block;
    position: relative;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top:0px;
    padding-left: 0px;
    padding-right: 0px;
    
}

.table-wrapper {
  display: block;
  position: relative;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top:0px;
  padding-left: 0px;
  padding-right: 0px;
  max-height:150px;
  overflow-y:scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
    
}

  