<div id="char-container" *ngIf="selectedHospital && currentNumericalAttribute && currentCategoricalAttribute">

  <h5 id="hospitalName">{{selectedHospital.name}}</h5>

  <table class="table table-responsive-md">
    <tbody>
    <tr>
      <td>Adresse:</td>
      <td id="hospitalAddress">{{selectedHospital.address}}</td>
    </tr>
    <tr>
      <td id="numericalAttributeName">{{currentNumericalAttribute.name_de}}</td>
      <td id="numericalAttributeValue">{{currentNumericalAttributeValue}}</td>
    </tr>
    <tr>
      <td id="categoricalAttributeName">{{currentCategoricalAttribute.name_de}}</td>
      <td id="categoricalAttributeValue">{{currentCategoricalAttributeValue}}</td>
    </tr>
    </tbody>
  </table>

</div>
