
#dropdown-container {
  max-height: 15vh;
  margin: 0;
  padding: .5rem;
  border: .0625rem solid #f1f1f1;
}

.dropdown {
  display: inline-block;
}


#catAttrButton {
  margin-right: .5rem;
}

.dropdown-menu {
  left: auto;
  right: auto;
  max-height: 10rem;
  max-width: 75vw;
  overflow-y: scroll;
}

.dropdown-item {
  white-space: normal;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}
