.dropdown {
  margin-top: .5rem;
  margin-bottom: .5rem;
  white-space: normal;
}

#attributeDropdownButton {
  white-space: normal;
}

.dropdown-menu {
  left: auto;
  right: auto;
  max-height: 10rem;
  overflow-y: scroll;
}

.dropdown-item {
  white-space: normal;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}
