<div class="nav-bar-attributes">

  <nav id="dropdown-container" class="navbar navbar-expand-lg navbar-dark bg-light">
    <div id="attributes">

      <h4>Attributauswahl:</h4>

        <!-- align dropdowns in group next to each other -->
        <div class="btn-group" style="text-align: center;">

          <!-- first dropdown with numeric attributes -->
          <div id="numAttr" class="dropdown" style="padding:5px;">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                1. Attribut:
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" *ngFor="let attribute of attributes" (click)="selectedAttribute(attribute)">{{ attribute.nameDE }}</a>
              </div>
          </div>

          <!-- second dropdown with categorial attributes -->
          <div id="katAttr" class="dropdown" style="padding:5px;">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              2. Attribut:
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" *ngFor="let attribute of attributes" (click)="selectedAttribute(attribute)">{{ attribute.nameIT }}</a>
            </div>
          </div>

        </div>

    </div>
  </nav>

</div>
