<div class="container">

  <div id="graph"></div>

  <div id="filterConatiner">
    <div class="filter" style="float: left">
      <app-navbar></app-navbar>
    </div>

    <div class="filter" style="float: right">
      <div class="nestedFilter">
        <app-dropdown
          *ngIf="attributes && xCoordinateAttribute"
          [input]="true"
          [name]="name_x_axis"
          [attributes]="attributes"
          [selectedAttribute]="xCoordinateAttribute"
          [axis]="x_axis">
        </app-dropdown>
      </div>

      <div class="nestedFilter">
        <app-dropdown
          *ngIf="attributes && yCoordinateAttribute"
          [input]="true"
          [name]="name_y_axis"
          [attributes]="attributes"
          [selectedAttribute]="yCoordinateAttribute"
          [axis]="y_axis">
        </app-dropdown>
      </div>

    </div>
  </div>
</div>
