<agm-map [latitude]="lat" [longitude]="lng"
[styles]='[
  {
    "featureType": "administrative",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.country",
    "stylers": [
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "administrative.country",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "visibility": "on"
      },
      {
        "weight": 0.5
      }
    ]
  },
  {
    "featureType": "administrative.country",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "weight": 3
      }
    ]
  },
  {
    "featureType": "administrative.country",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.locality",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "administrative.locality",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "administrative.neighborhood",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.province",
    "stylers": [
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "administrative.province",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#ff3914"
      },
      {
        "visibility": "on"
      },
      {
        "weight": 3
      }
    ]
  },
  {
    "featureType": "administrative.province",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "landscape.natural",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "landscape.natural.landcover",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "landscape.natural.terrain",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi.business",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "transit",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "water",
    "stylers": [
      {
        "lightness": -20
      },
      {
        "visibility": "simplified"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "lightness": 85
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  }]'>
  <!--<agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>-->
  <!--<agm-marker [latitude]="lat2" [longitude]="lng2"></agm-marker>-->
  <agm-marker [latitude]="46.947142" [longitude]="7.425471000000016" [visible]="true" [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/hospitals.png'">
    <agm-info-window>Inselspital Bern <br/> Freiburgstrasse 8 <br/> 3010 Bern
    </agm-info-window>
  </agm-marker>
  <agm-marker [latitude]="47.3795461" [longitude]="8.547388899999987" [visible]="true"  [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/hospitals.png'" >
    <agm-info-window>Universitätsspital Zürich <br/> Rämistrasse 100 <br/> 8091 Zürich</agm-info-window>
  </agm-marker>
<!--  <agm-marker [latitude]="47.561557" [longitude]="7.58587" [visible]="true"  [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/hospitals.png'" >
    <agm-info-window>Universitätsspital Basel</agm-info-window>
  </agm-marker>-->
  <agm-marker [latitude]="47.429348" [longitude]="9.388304000000062" [visible]="true"  [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/hospitals.png'" >
    <agm-info-window>Kantonsspital St.Gallen <br/> Rorschacher Str. 95 <br/> 9007 St. Gallen</agm-info-window>
  </agm-marker>
</agm-map>
