<button class="btn btn-outline-secondary" routerLink="statistics" type="button">{{changeToView}}</button>

<div class="wrapper">
  <div id="content">
    <div id="mapid"></div>
   </div>

  <div id="sidebar">
    <app-sidebar></app-sidebar>
  </div>
</div>

<div id="disclaimer">
  <a href="http://eonum.ch/de/allgemein/geopitalsuisse/" target="_blank">created by eonum & University of Berne</a>
  |
  <a href="https://www.bag.admin.ch/bag/de/home/service/zahlen-fakten/zahlen-fakten-zu-spitaelern/kennzahlen-der-schweizer-spitaeler.html" target="_blank">data by BFS / FSO</a>
</div>






