<div class="alert alert-info info-box container.fluid">
  <strong>Spitalsteckbrief</strong>
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <div class="row">
    <div class="col-md-5">Name</div>
    <div class="col-md-7">Inselspital Bern</div>
  </div>
  <div class="row">
    <div class="col-md-5">Art</div>
    <div class="col-md-7">Universitätsspital</div>
  </div>
  <div class="row">
    <div class="col-md-5">Umsatz pro Jahr</div>
    <div class="col-md-7">1000000000</div>
  </div>
  <div class="row">
    <div class="col-md-5">Anzahl Betten</div>
    <div class="col-md-7">3000</div>
  </div>
</div>
