ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
}

#sidebarCollapse {
  width: 100%;
  overflow: auto;
  padding: 0;
}

.transparent {
  background: transparent !important;
}


.language-select {
  float: right;
  padding: 0;
  list-style: none;
  margin: 9px 6px 0 0;
}

.language-select li {
  display: inline;
}

.language-select a {
  padding-left: 16px;
}
