<!-- contains checkbox and dropdown menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="sidebar">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="sidebarCollapse">
    <ul>
      <li>
        <!-- shows navbar on the map -->
        <app-navbar></app-navbar>
      </li>

      <li>
        <!-- shows dropdown on the map -->
        <app-dropdown></app-dropdown>
      </li>

      <li>
        <!-- shows the characteristics on the map -->
        <app-characteristics></app-characteristics>
      </li>
    </ul>
  </div>
</nav>
