<nav class="navbar navbar-expand-lg navbar-light bg-light" id="sidebar">

  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="sidebarCollapse">
    <ul>
      <li>
        <app-navbar></app-navbar>
      </li>

      <li>
        <app-dropdown
          [input]="true"
          [name]="name2"
          [attributes]="numericalAttributes"
          [selectedAttribute]="selectedNumAttribute">

        </app-dropdown>

        <app-dropdown
          [input]="false"
          [name]="name1"
          [attributes]="categoricalAttributes"
          [selectedAttribute]="selectedCatAttribute">

        </app-dropdown>
        <app-categorial-attributes></app-categorial-attributes>
      </li>

      <li>
        <app-characteristics></app-characteristics>
      </li>
    </ul>
  </div>
</nav>
