<ul class="nav nav-tabs" id="sidebar">
  <li class="sidebarElement">
    <app-navbar></app-navbar>
  </li>

  <li class="sidebarElement">
    <app-dropdown
      *ngIf="numericalAttributes && numericalAttribute"
      [input]="true"
      [name]="dropdownNumericalAttributes"
      [attributes]="numericalAttributes"
      [selectedAttribute]="numericalAttribute">
    </app-dropdown>

    <app-dropdown
      *ngIf="categoricalAttributes && categoricalAttribute"
      [input]="false"
      [name]="dropdownCategoricalAttributes"
      [attributes]="categoricalAttributes"
      [selectedAttribute]="categoricalAttribute">
    </app-dropdown>
    <app-categorial-attributes
      *ngIf="categoricalAttribute"
      [attribute]="categoricalAttribute">
    </app-categorial-attributes>

  </li>

  <li class="sidebarElement">
    <app-characteristics
      *ngIf="categoricalAttribute && numericalAttribute && selectedHospital"
      [categoricalAttribute]="categoricalAttribute"
      [numericalAttribute]="numericalAttribute"
      [hospital]="selectedHospital">
    </app-characteristics>
  </li>
</ul>
